# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/
dist/
.pytest_cache/
.ruff_cache/

# Node / Angular
node_modules/
.angular/

# MATLAB
*.asv
*.mex*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Simulink
*.slxc
*.slx.r2022b
slprj/