@use '@angular/material' as mat;
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import 'material-icons/iconfont/material-icons.css';

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface-container-lowest);
  color: var(--mat-sys-on-surface);
  font-family: var(--mat-sys-body-medium-font);
  margin: 0;
  height: 100%;
}

app-root {
  display: block;
  width: 100%;
  min-height: 100%;
}